[data-md-color-scheme="systematic"] {
    --md-primary-fg-color:        #002060;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }
  .flexbox-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
  
  .flexbox-item {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }